a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 3px;
}

.next{
    background-color: #aa91ef;
    color: white;
    border-radius: 3px;
}

.previous {
    background-color: #ff11ff;
    color: black;
    border-radius: 3px;
}

.finish {
    background-color: #ccc911;
    color: black;
    border-radius: 3px;
}





















/* input.Button {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background: #3567cc;
    color: #ffffff;
    border-radius: 1px solid #3567cc;
    box-shadow: 6px 6px 5px #999;

}

input.Button:hover {
    color: #ffff00;
    background: #000;
    border: 1px solid #ffffff
} */