$image-width:180px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*THE CONTENT OF THE THANKS PAGE*/
.wrapper {
    position: relative;
    display: flex;   /*i7ot.hom bjanb b3adhhom */
    align-items: center;  /*7at.hom fel west selon el x */
    justify-content: center;  /*7at.hom fel west selon y */
    height: 490px;   
    width: 573px;

    &>.div-1 {
        position: absolute;  /*7atinehom fo9 b3adhhom */
        height: 50%;
        width: 50%;
        z-index: 2;
        // background-image: url(../img/thumb.jpg);
        // background-size: cover;

        &>img {
            width: $image-width;
            border-radius: 50%;
            margin-top: 82px;
            margin-left: 78px;

            
            &:hover {
                background-image: url(../img/thumb.jpg);
                background-size: cover;
               
            }
        } 
        
    }

    &>.div-2 {
        padding: 20px;
        position: absolute;
        height: 497px;
        width: 100%;
        z-index: 1;
        
        animation: animate 20s infinite;

        &>.div-3{
            height: 25%;
            width: 25%;
            // background-image: url(../img/thumb.jpg);
            margin: 0 auto;
            // background-size: cover;

            &>img {
                width: $image-width;
                float: left;
                border-radius: 30px;
            }
            
        }
        &>.div-4 {
            height: 17%;
            width: 25%;
            float: left;
            margin-left: 10px;
            margin-right: 22px;
            margin-top: 10px;
            // background-image: url(../img/thumb.jpg);
           

            &>img {
                width: $image-width;
                float: left;
                border-radius: 30px;
            }
        }
        &>.div-5 {
            height: 25%;
            width: 25%;
            float: left;
            margin: 10px 0 10px 227px;
            // background-image: url(../img/thumb.jpg);
            

            &>img {
                width: $image-width;
                float: left;
                border-radius: 30px;
            }
        }



        &>.div-6 {
            height: 25%;
            width: 25%;
            float: left;
            margin: 70px 80px;
            // background-image: url(../img/thumb.jpg);
           

            &>img {
                width: $image-width;
                float: left;
                border-radius: 30px;
            }
        }
        &>.div-7 {
            height: 25%;
            width: 25%;
            float: left;
            margin: 70px 0 0 30px;
            // background-image: url(../img/thumb.jpg);
            

            &>img {
                width: $image-width;
                float: left;
                border-radius: 30px;
            }
        }
       
    }
    // &>.thanksMsg {
    //     position: absolute;
    //     top: 200px;
    //     color: #ece4e4b9;
    //     text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    //     animation: animate1 5s steps(22), blink 0.5s infinite alternate;
    //     white-space: nowrap; /*ya3malha fard star */
    //     overflow: hidden;
    //     font-size: 70px;
    //     left: 750px;
    //     font-family: myFont;
    //   }
}
