$image-width:200px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/ZhiMangXing-Regular.ttf);
}


section {

    /* THE BACKGROUND IMAGE */
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;

    &>.star {
        position: absolute;
        height: 100%;
        width: 100%;
        animation: star-animate 4s ease-in-out infinite;
        
    }
    &>.star.star1 {
        animation-delay: 0s;
        background-image: url(../img/star1.png);
    }
    &>.star.star2 {
        animation-delay: -1s;
        background-image: url(../img/star2.jpg);
    } 
    &>.star.star3 {
        animation-delay: -2s;
        background-image: url(../img/star3.jpg);
    } 
    &>.star.star4 {
        animation-delay: -3s;
        background-image: url(../img/star4.png);
    }
    &>.star.star5 {
        animation-delay: -4s;
        background-image: url(../img/star2.jpg);
    }
    &>.star.star6 {
        animation-delay: -5s;
        background-image: url(../img/star1.png);
    }
    &>.star.star7 {
        animation-delay: -6s;
        background-image: url(../img/star4.png);
    }
    &>.star.star8 {
        animation-delay: -7s;
        background-image: url(../img/star3.jpg);
    }




    /*THE CONTENT OF THE THANKS PAGE*/
    .wrapper {
        position: relative;
        display: flex;   /*i7ot.hom bjanb b3adhhom */
        align-items: center;  /*7at.hom fel west selon el x */
        justify-content: center;  /*7at.hom fel west selon y */
        height: 401px;   
        width: 573px;
    
        &>.div-1 {
            position: absolute;  /*7atinehom fo9 b3adhhom */
            height: 50%;
            width: 50%;
            z-index: 2;
            // background-image: url(../img/thumb.jpg);
            // background-size: cover;
    
            &>img {
                width: $image-width;
                border-radius: 50%;
                margin-top: 60px;
                margin-left: 78px;

            } 
        }
    
        &>.div-2 {
            padding: 20px;
            position: absolute;
            height: 520px;
            width: 100%;
            z-index: 1;
            
            animation: animate 20s infinite;
    
            &>.div-3{
                height: 25%;
                width: 25%;
                // background-image: url(../img/thumb.jpg);
                margin: 0 auto;
                // background-size: cover;
    
                &>img {
                    width: $image-width;
                    float: left;
                }
                
            }
            &>.div-4 {
                height: 25%;
                width: 25%;
                float: left;
                // background-image: url(../img/thumb.jpg);
               
    
                &>img {
                    width: $image-width;
                    float: left;
                }
            }
            &>.div-5 {
                height: 25%;
                width: 25%;
                float: left;
                margin-left: 266px;
                // background-image: url(../img/thumb.jpg);
                
    
                &>img {
                    width: $image-width;
                    float: left;
                }
            }
    
    
    
            &>.div-6 {
                height: 25%;
                width: 25%;
                float: left;
                margin: 70px 54px;
                // background-image: url(../img/thumb.jpg);
               
    
                &>img {
                    width: $image-width;
                    float: left;
                }
            }
            &>.div-7 {
                height: 25%;
                width: 25%;
                float: left;
                margin: 70px 0 0 30px;
                // background-image: url(../img/thumb.jpg);
                
    
                &>img {
                    width: $image-width;
                    float: left;
                }
            }
           
        }
        &>.thanksMsg {
            position: absolute;
            top: 200px;
            color: #ece4e4b9;
            text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
            animation: animate1 5s steps(22), blink 0.5s infinite alternate;
            white-space: nowrap; /*ya3malha fard star */
            overflow: hidden;
            font-size: 70px;
            left: 750px;
            font-family: myFont;
          }
    }
}
@keyframes star-animate {
    0%,20%,40%,60%,80%,100%{
        opacity: 0;
    }
    10%,30%,50%,70%,90% {
        opacity: 1;
    }
} 

// @keyframes animate {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }

@keyframes animate1 {
    from {
      width: 0;
    }
    to {
      width: 891px;
    }
}